Repository Hows-the-Air-Today/HAT-frontend-react, pull requests merged in 2023-04, with the labels that each got.

#2 ✨ feat(HAT-206): 로그인 폼 생성
  .eslintrc.js
  package.json
  src/App.tsx
  src/components/UI/organisms/Navigation/BottomMenuBar.tsx
  src/components/pages/Auth/Login/LoginPage.tsx
  src/styles/styles.css
  yarn.lock
Labels: ✏ HTML & CSS, ✨ Feature, ❄️FE, 📬 API

#6 🔧 chore: eslint 설정 추가
  .eslintrc.js
  .github/workflows/automerge.yaml
  .github/workflows/linters/.eslintrc.json
  package.json
  yarn.lock
Labels: ⚙ Setting

#7 ✨ feat(HAT-208): 회원 정보 페이지 폼 생성
  package.json
  public/images/sample1.png
  public/images/sample2.jpeg
  public/images/sample3.jpeg
  public/images/very-good-hat.svg
  src/App.tsx
  src/components/pages/Auth/Login/LoginPage.tsx
  src/components/pages/Auth/Profile/MyPage.tsx
  src/stores/index.ts
  src/stores/member.ts
  src/styles/styles.css
  yarn.lock
Labels: ⚙ Setting, ✏ HTML & CSS, ✨ Feature, ❄️FE

#8 ✨ feat(HAT-244): 사용자 권한 페이지 설정
  src/App.tsx
  src/components/pages/Auth/AuthRoutes.tsx
  src/components/pages/Auth/Profile/EditProfile.tsx
  src/components/pages/Auth/Profile/MyPage.tsx
  src/components/pages/Auth/Register/RegisterPage.tsx
  src/styles/styles.css
Labels: ⚙ Setting, ✏ HTML & CSS, ✨ Feature, ❄️FE

#9 ✨ Feat/(HAT-240): 대기 정보 디테일 페이지
  .gitignore
  package.json
  public/images/bad.png
  public/images/error.png
  public/images/good.png
  public/images/very_bad.png
  public/images/very_good.png
  src/components/pages/AirQuality/AirQualityRealTimePage.tsx
  src/components/pages/AirQuality/Geolocation.ts
  src/components/pages/AirQuality/RealTimePage.tsx
  src/components/pages/AirQuality/WeatherRealTimePage.tsx
  src/styles/styles.css
  yarn.lock
Labels: ✏ HTML & CSS, ✨ Feature, ❄️FE

#10 ✨ feat(HAT-259): 회원정보 수정 페이지 생성
  src/App.tsx
  src/components/pages/Auth/AuthRoutes.tsx
  src/components/pages/Auth/Login/LoginPage.tsx
  src/components/pages/Auth/Profile/ChangePasswordPage.tsx
  src/components/pages/Auth/Profile/EditNicknamePage.tsx
  src/components/pages/Auth/Profile/EditProfile.tsx
  src/components/pages/Auth/Profile/MyPage.tsx
  src/stores/index.ts
  src/stores/member.ts
  src/stores/memberState.ts
  src/styles/styles.css
Labels: ✏ HTML & CSS, ✨ Feature, ❄️FE, 📬 API

#11 ✨ feat(HAT-273): 회원 탈퇴 폼 생성
  src/App.tsx
  src/components/pages/Auth/Profile/EditProfile.tsx
  src/components/pages/Auth/Profile/WithdrawalPage.tsx
Labels: ✏ HTML & CSS, ✨ Feature, ❄️FE, 📬 API

#12 ✨ feat(HAT-271):게시물 작성기능
  .eslintrc.js
  package.json
  src/App.tsx
  src/components/UI/atoms/button.tsx
  src/components/UI/atoms/input.tsx
  src/components/UI/organisms/Header/HeaderBar.tsx
  src/components/UI/organisms/Header/styles/styles.tsx
  src/components/UI/organisms/commonstyles/styles.jsx
  src/components/pages/CommunityCreatPage/index.tsx
  src/interface/ButtonProps.ts
  src/interface/HeaderBarProps.ts
  src/styles/styles.css
Labels: ✏ HTML & CSS, ✨ Feature, ❄️FE

#13 ✨ feat(HAT-276): 프로필 이미지 폼 생성
  src/App.tsx
  src/components/UI/organisms/Header/HeaderBar.tsx
  src/components/pages/Auth/Profile/ChangePasswordPage.tsx
  src/components/pages/Auth/Profile/EditProfile.tsx
  src/components/pages/Auth/Profile/MyPage.tsx
  src/stores/memberState.ts
  src/styles/styles.css
Labels: ✏ HTML & CSS, ✨ Feature, ❄️FE, 📬 API

#14 ✨ feat(HAT-298): 게시물조회페이지
  package.json
  src/App.tsx
  src/api/community.js
  src/components/UI/organisms/commonstyles/styles.jsx
  src/components/UI/organisms/dropBox/DropBoxMenu.js
  src/components/UI/organisms/selectBox/index.tsx
  src/components/pages/Community/CommunityPage.tsx
  src/components/pages/Community/dummy.tsx
  src/components/pages/Community/styles.js
  src/components/pages/CommunityCreatPage/index.tsx
  src/index.tsx
  src/interface/CommunityPage.ts
  src/styles/styles.css
  yarn.lock
Labels: ✨ Feature, ❄️FE, 📬 API

#15 🐛 bugfix: 닉네임 수정
  src/components/pages/Auth/Profile/EditNicknamePage.tsx
  src/styles/styles.css
Labels: bug, ♻ Refactor, 🐞 BugFix

#16 ✨ feat(HAT-322): 게시물 삭제 수정기능
  .eslintrc.js
  src/App.tsx
  src/api/community.js
  src/components/UI/organisms/dropBox/DropBoxMenu.js
  src/components/UI/organisms/postscard/PostsCard.js
  src/components/pages/Auth/Profile/MyPage.tsx
  src/components/pages/Community/CommunityPage.tsx
  src/components/pages/Community/styles.js
  src/components/pages/CommunityCreatPage/index.tsx
  src/components/pages/community-detail/index.js
  src/components/pages/community-detail/styles.js
  src/styles/styles.css
  src/utils/utils-js.js
Labels: ✨ Feature, ❄️FE, 📬 API

#18 ✨ feat(HAT-229): 게시물 댓글 페이지
  src/App.tsx
  src/api/community.js
  src/components/UI/organisms/postscard/PostsCard.js
  src/components/pages/Comment/CommentMenuPage.tsx
  src/components/pages/Comment/CommentPage.tsx
  src/components/pages/Comment/TimeForToday.tsx
  src/components/pages/CommunityCreatPage/index.tsx
  src/styles/styles.css
Labels: ✏ HTML & CSS, ✨ Feature, ❄️FE, 📬 API

#19 👷 build: 도커파일 추가
  Dockerfile
Labels: ❄️FE, 🌏 Deploy

#21 👷 ci: package.json 빌드 스크립트 수정
  package.json
Labels: ❄️FE, 🌏 Deploy

#22 ♻️ refactor/(HAT-352) 인기게시글수정
  src/api/community.js
  src/components/UI/molecules/PopularCard.js
  src/components/pages/Auth/Profile/MyPage.tsx
  src/components/pages/Community/CommunityPage.tsx
  src/components/pages/Community/styles.js
Labels: ♻ Refactor, ✏ HTML & CSS, ✨ Feature, ❄️FE

#23 👷 build: 프로덕션용 도커파일 추가
  Dockerfile-prod
  nginx.conf
Labels: ❄️FE, 🌏 Deploy, 📬 API

#25 🐛 fix(HAT-361): 게시글 작성 페이지 수정
  src/components/pages/CommunityCreatPage/index.tsx
  src/interface/ButtonProps.ts
Labels: ❄️FE, 🐞 BugFix

#26 ✨ feat(HAT-355): 게시물 좋아요 기능 추가
  src/components/UI/organisms/postscard/PostsCard.js
  src/components/pages/Community/CommunityPage.tsx
  src/components/pages/community-detail/index.js
Labels: ✏ HTML & CSS, ✨ Feature, ❄️FE

#27 🐛 fix(HAT-368): refetch 추가
  src/components/UI/organisms/postscard/PostsCard.js
  src/components/pages/Community/CommunityPage.tsx
Labels: ✨ Feature, 🐞 BugFix
